:root { 
--green_300:#96bb7c; 
--white_A700_7f:#ffffff7f; 
--red_600:#d64545; 
--light_green_A700:#6fff3d; 
--red_400:#ee4d4d; 
--green_A700:#00bd32; 
--black_900_01:#060606; 
--red_700_01:#d23021; 
--blue_gray_900:#252b42; 
--red_A700:#ff0000; 
--gray_600:#727272; 
--gray_400:#bfb0b0; 
--orange_A200:#fd9d4c; 
--blue_gray_100:#c8d6e4; 
--amber_500:#fbbc05; 
--gray_200:#f2f1f1; 
--black_900_0c:#0000000c; 
--white_A700_66:#ffffff66; 
--white_A700_26:#ffffff26; 
--gray_100_01:#f8f7f7; 
--black_900_19:#00000019; 
--blue_gray_400_01:#8495a6; 
--white_A700:#ffffff; 
--indigo_600:#3b5998; 
--deep_orange_A200:#ef5f36; 
--deep_purple_900:#332195; 
--red_700:#d23221; 
--blue_gray_50:#f1f2f2; 
--blue_gray_100_01:#cfe4e7; 
--blue_gray_100_02:#d9d9d9; 
--orange_300_01:#f4c551; 
--light_blue_800:#007ab9; 
--black_900:#000000; 
--gray_500_01:#a6a6a6; 
--deep_orange_800:#d83e1c; 
--purple_A100:#f167de; 
--purple_600:#904a97; 
--black_900_26:#00000026; 
--blue_gray_200:#b5bfc1; 
--gray_500:#a4a4a4; 
--red_600_01:#e64040; 
--blue_gray_400:#898a8b; 
--blue_800:#186bad; 
--amber_600:#ffb700; 
--gray_900:#111111; 
--orange_300:#f7b648; 
--gray_100:#f3f3f3; 
--cyan_300:#46cbd6; 
--blue_400:#34a6f9; 
--white_A700_05:#ffffff05; 
}